{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Mon Profil</h1>
    {{ form_start(modifForm) }}


    {{ form_widget(modifForm)}}
        <button type="submit" class="btn">Register</button>
        {{ form_end(modifForm) }}
{% endblock %}
