{%  extends 'base.html.twig' %}

{%  block body %}
    {{  form_start(sortieForm) }}
    {{ form_widget(sortieForm) }}
    <button>Enregistrer</button>
    {{ form_end(sortieForm) }}
{%  endblock %}

{% block title %}
{%  endblock %}