<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}Sortir ! {% endblock %}</title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@2.1.0/dist/axentix.min.css">
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">

        <link rel="icon" href="{{ asset('img/Sortir.com[2968].png') }}"

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <div class="container">
    <header>
        <h1><a href="{{ path('app_sortir') }}"><img src="{{ asset('img/Sortir.com[2968].png') }}"> </a></h1>
        {% include 'inc/nav.html.twig' %}
    </header>

    <main>
        {% block body %}{% endblock %}

    </main>

    <footer class="footer primary">
        Copyright © 2022 - Example
    </footer>
  </div>



        <script src="https://cdn.jsdelivr.net/npm/axentix@2.1.0/dist/axentix.min.js"></script>
        {% block javascripts %}{% endblock %}
</body>
</html>