<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>{% block title %}Sortir ! {% endblock %}</title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{{ asset('css/app.css') }}">



        {% block stylesheets %}{% endblock %}
    </head>
    <body>

    <header>

        {% include 'inc/nav.html.twig' %}
    </header>

    <main>
        <div class="container">
            {% block body %}{% endblock %}
        </div>

 
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    </main>






       {#  <script src="https://cdn.jsdelivr.net/npm/axentix@2.1.0/dist/axentix.min.js"></script>#}
        {% block javascripts %}{% endblock %}
</body>


</html>