
<nav class="navbar shadow-1 primary">
    <a href="#" target="_blank" class="navbar-brand">Sortir.com</a>
    <div class="navbar-menu ml-auto">
    <ul>
        <li> <a class="navbar-link" href="{{ path('sortie_list') }}" title="Sorties">Sorties</a></li>
        <li> <a class="navbar-link" href="#" title="Villes">Villes</a></li>
        <li><a class="navbar-link" href="#" title="Campus">Campus</a></li>
        <li><a class="navbar-link" href="#" title="Accueil">Accueil</a></li>
        <li><a class="navbar-link" href="#" title="Mon profil">Mon Profil</a></li>
        <li><a class="navbar-link" href="{{ path('app_logout') }}" title="Deconnession ">Se déconnecter</a></li>
    </ul>
    </div>
</nav>
